<template name="header">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="six columns">
                    <h4 class="u-full-width">Buildings Safety Rating System</h4>
                </div>
                <div class="six columns menu">
                    <a class="button {{isActiveRoute class='active' name='show'}}" href="/">Buildings</a>
                    <a class="button {{isActiveRoute class='active' name='add'}} {{isActiveRoute class='active' name='single-building'}}" href="/add">Add</a>
                </div>
            </div>
        </div>
    </div>
</template>
